* {
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.weather {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: row-reverse;
}
.display {
  border: 2px solid rgb(255, 255, 255);
  height: 99vh;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
h2 {
  margin-left: 20px;
}
.search input {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
}
.search input::placeholder {
  color: white;
}
.search input:focus {
  outline: none;
  background-color: none;
}
.search button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 10px;
  margin-left: 5%;
}
.line {
  background-color: white;
  width: 95%;
  height: 1px;
  margin: 10px auto;
}
.weather-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.weather_detail {
  color: white;
  margin-left: 20px;
  line-height: 2.5rem;
  text-align: left;
}
.weather-values {
  color: white;
  margin-left: 20px;
  line-height: 2.5rem;
  margin-right: 10px;
}

.mini-display {
  color: white;
  position: absolute;
  margin-left: 20px;
  bottom: 4px;
  left: 0;
  height: 150px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  gap: 20px;
}
.div2 h2 {
  font-size: 30px;
}
.div2 p {
  font-size: 20px;
}
.div3 p,
img {
  padding: 0%;
  margin: 0%;
  font-size: 20px;
}
.weather_forecast {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-height: 450px;
  overflow-y: auto; 
}

.wf {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
