*
{
    margin: 0%;
    padding: 0%;
}
.weather
{
    width: 100vw;
    height: 100vh;
    background-image:url(images/clear_sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}